@using FileService.Model
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index-2</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">CreateFolder</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#upload">Upload</button>
        <button type="button" class="btn btn-default" onclick="ReturnLast()">ReturnLast</button>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        创建一个文件夹
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="folderName" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="CreateFolder">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" enctype="multipart/form-data" action="/Home/Post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            上传一个文件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="file" name="files" multiple>
                        <input type="hidden" id="currpath"  name="currpath"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="CreateFolder">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->s
            </form>
            
        </div><!-- /.modal -->
    </div>







    <ol class="breadcrumb" id="crumbs" style="display:none;">
        <li><a href="#">Home</a></li>
    </ol>
    <table class="table table-striped" style="width:800px;margin-top:0px;">
        <tr>
            <td class="active">名称</td>
            <td class="success">创建时间</td>
            <td class="danger">最后一次修改时间</td>
            <td class="info">子文件个数</td>
            <td class="warning">文件类型</td>
            <td class="danger">操作</td>
        </tr>
        @{
            foreach (FileModel item in ViewBag.FileList)
            {
                <tr>
                    <td class="active"><a href="javascript:GetFileList('@item.Name','@item.FileType')">@item.Name</a></td>
                    <td class="success">@item.CreationTime</td>
                    <td class="danger">@item.LastWriteTime</td>
                    <td class="info">@item.Length</td>
                    <td class="warning">@item.FileType</td>
                    <td class="danger"><a href="javascript:Del('@item.Name');">删除</a>&nbsp;&nbsp;
                    @if (item.FileType == "文件") { <a href="javascript:DownLoad('@item.Name');">下载</a> }
                    </td>
                </tr>
            }
        }
    </table>
    
</body>
</html>
<script>
    function GetFileList(name, type) {
        if (type == "文件夹") {
            var currpath = $("#currpath").val() + "," + name;
            $("#currpath").val(currpath);
            Crumbs(currpath);
            $.post("/Home/GetFileList", { currPath: currpath }, function (data) {
                $("table tbody").html("");
                if (data != undefined) {
                    var html = `
                            <tr>
                                <td class="active">名称</td>
                                <td class="success">创建时间</td>
                                <td class="danger">最后一次修改时间</td>
                                <td class="info">子文件个数</td>
                                <td class="warning">文件类型</td>
                                <td class="danger">操作</td>
                            </tr>
                    `;
                    $(data).each(function (i, e) {
                        var temp = "";
                        if (e.FileType == "文件") {
                            temp = `<a href="javascript:DownLoad('` + e.Name + `');">下载</a>`;
                        }
                        
                        html += `
                        <tr>
                            <td class="active"><a href="javascript:GetFileList('`+ e.Name + `','` + e.FileType + `')">` + e.Name + `</a></td>
                            <td class="success">`+ e.CreationTime + `</td>
                            <td class="danger">`+ e.LastWriteTime + `</td>
                            <td class="info">`+ e.Length + `</td>
                            <td class="warning">`+ e.FileType + `</td>
                            <td class="danger"><a href="javascript:Del('`+ e.Name+`');">删除</a>&nbsp;&nbsp;` + temp+ ` </td>
                        </tr>
                        `;
                    });
                    $("tbody").append(html);
                }
            }, "JSON");
        }
    }
    function Crumbs(path) {
        var res = "Home";
        var arr = path.split(",");
        for (var i = arr.length - 1; i < arr.length; i++) {
            if (arr[i] != undefined && arr[i].length > 0 ) {
                $("#crumbs").append("<li><a href='javascript:void(0)'>" + arr[i] + "</a></li>");
            }
        }
    }


    $("#CreateFolder").click(function () {
        var folderName = $("#folderName").val();
        if (folderName.length == 0) {
            alert("请输入文件夹名！");
            return;
        }
        var currpath = $("#currpath").val() + "," + $("#folderName").val();
        $.post("/Home/CreateFolder", { currPath: currpath }, function (data) { window.location.reload(); }, "JSON");
    });
    function Del(name) {
        var currpath = $("#currpath").val() + "," + name;
        console.log(currpath);
        $.post("/Home/Del", { currPath: currpath }, function (data) { window.location.reload(); }, "JSON");
    }
    function DownLoad(name) {
        var currpath = $("#currpath").val() + "," + name;
        console.log(currpath);
        var href = "/Home/DownLoad?currPath=" + currpath;
        window.open(href);
    }
    function GetCurrTime(format) {
        var time = new Date();
        var nowYear = time.getFullYear().toString()
        var nowMonth = (time.getMonth() + 1).toString()
        var nowDay = time.getDate().toString();
        var nowHours = time.getHours().toString();       //获取当前小时数(0-23)
        var nowMin = time.getMinutes().toString();     //获取当前分钟数(0-59)
        var nowSeconds = time.getSeconds().toString();     //获取当前秒数(0-59)
        function timeAdd0(str) {
            if (str.length <= 1) {
                str = '0' + str;
            }
            return str
        }
        nowYear = timeAdd0(nowYear)
        nowMonth = timeAdd0(nowMonth)
        nowDay = timeAdd0(nowDay)
        nowHours = timeAdd0(nowHours)
        nowMin = timeAdd0(nowMin)
        nowSeconds = timeAdd0(nowSeconds)
        var res = "";
        switch (format) {
            case "date":
                res = nowYear + "-" + nowMonth + "-" + nowDay;
                break;
            case "HH:MM":
                res = nowHours + ":" + nowMin;
                break;
            default:
                res = nowYear + "-" + nowMonth + "-" + nowDay + " " + nowHours + ":" + nowMin + ":" + nowSeconds;
                break;
        }
        return res;
    }

    function ReturnLast() {
        var temp = $("#currpath").val();
        if (temp) {
            if (temp.charAt(temp.length - 1) == ",") {
                temp = temp.substring(0, temp.Length - 1);
            }
            //返回一级
            var temp = temp.split(',');
            temp.pop();
            temp = temp.toString();
            if (temp.charAt(temp.length - 1) == ",") {
                temp = temp.substring(0, temp.Length - 1);
            }
            $("#currpath").val(temp);
            GetFileList("", "文件夹");
        }
    }
</script>